@model Vardiya

<h2>Vardiya Ekle</h2>
<hr>

<form asp-controller="Vardiya" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="VardiyaId" class="form-label">Vardiya Id</label>
        <input asp-for="VardiyaId" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="VardiyaName" class="form-label">Vardiya Adı</label>
        <input asp-for="VardiyaName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Tarih" class="form-label">Vardiyanın Tarihi</label>
        <input asp-for="Tarih" class="form-control datepicker">
    </div>
    
    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form> 