@model Personel

<p>
    <b>  @Model.PersonelId @Model.KullaniciAdi</b> Id li Kullanıcıyı silmek istiyor musunuz?
    <form asp-action="Delete" method="post" >
     <input type="hidden" value="@Model.PersonelId" name="id">
     <button type="submit" class="btn btn-danger">Evet</button>
     <a asp-action="Index" class="btn-primary">Hayır</a>
    </form>
</p>