@model TakimKayit

<h2>Takım Personel Transfer</h2>
<hr>

<form asp-controller="TakimKayit" asp-action="Edit" method="post">
    <input type="hidden" asp-for="PersonelId">
    <div class="mb-3">
        <label asp-for="TakimKayitId" class="form-label">TakimKayit Id</label>
        <input asp-for="TakimKayitId" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form> 